/* body {
    font-family: helvetica;
  }
  
  ul {
    font-family: monospace;
  }

  li {
    list-style: circle;
  }

  #ERROR{
     font-weight: bold; 
     color: red;
     visibility: hidden;
  }
  
  .list {
    list-style: square;
  }
  
  #date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
   */
.card {
  border-radius: 25px;
  border: 2px solid rgb(63, 61, 61);
  padding: 20px;
  margin: 5px; 
  min-width: 540px;
  display: inline-block;
}

fieldset {
  border-radius: 25px;
  border: 2px solid rgb(63, 61, 61);
  padding: 20px;
  margin: 5px; 
  display: inline-block;
}


.cardEnclosure{
  display: inline-block;
}

.cellOpen{
  border: 2px dashed rgb(63, 61, 61);
  padding: 3px;
  margin: 3px;
  width: 8px;
  height: 8px;
  float: left;
}

.cellOpenNone{
  border: 2px dashed rgb(63, 61, 61);
  padding: 3px;
  margin: auto;
  width: 8px;
  height: 8px;  
  justify-content: center;  
}

.cellClose{
  border: 2px solid rgb(63, 61, 61);
  padding: 3px;
  margin: 3px;
  width: 8px;
  height: 8px;
  background-color:  rgb(63, 61, 61);
  float: left;
}
.cellEmpty{
  border: 2px transparent;
  padding: 3px;
  margin: 3px;
  width: 8px;
  height: 8px;
  float: left;
}
.dot {
  border: 2px solid rgb(63, 61, 61);
  height: 25px;
  width: 25px;
  margin: auto;
  justify-content: center;  
  background-color: transparent;
  border-radius: 50%;
}

.noBorder{
  border: 0px 
}

a { 
  color: rgb(140, 140, 250); }
  ::-webkit-scrollbar-track-piece { background-color: rgba(255, 255, 255, 0.2) !important; }
  ::-webkit-scrollbar-track { background-color: rgba(255, 255, 255, 0.3) !important; }
  ::-webkit-scrollbar-thumb { background-color: rgba(255, 255, 255, 0.5) !important; }
  embed[type="application/pdf"] { filter: invert(90%); }
 
.qreg
{
  margin: 20px;
}  

html { 
  color: rgb(191, 191, 191); 
  background: rgb(31, 31, 31) !important; }
body { 
  background-color: rgb(31, 31, 31); 
  background-image: none !important; }
  
input, select, textarea, button { 
  color: rgb(191, 191, 191);
  background-color: rgb(31, 31, 31);
  margin: 3px; }

font { color: rgb(191, 191, 191); }

html {
   filter: contrast(100%) brightness(100%) saturate(100%); }
   .NIGHTEYE_Filter { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; pointer-events: none; z-index: 2147483647; }
   .NIGHTEYE_YellowFilter { background: rgba(255, 255, 0, 0.15); opacity: 0; }
   .NIGHTEYE_BlueFilter { background: rgba(0, 0, 255, 0.15); opacity: 0; }
   .NIGHTEYE_DimFilter { background: rgba(0, 0, 0, 0.5); opacity: 0; }
   .NIGHTEYE_TransformZ { transform: translateZ(0px); }

body { 
  font-family: helvetica; }
ul { font-family: monospace; }
li { list-style: circle; }
#ERROR { font-weight: bold; color: rgb(230, 153, 153); visibility: hidden; }.list { list-style: square; }
#date { font-size: 12px; font-style: italic; font-weight: bold; }
th, td { border: 1px solid rgb(63, 61, 61); border-collapse: collapse; }